<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xmlns:context="http://www.springframework.org/schema/context"  
      xmlns:aop="http://www.springframework.org/schema/aop"  
       xmlns:tx="http://www.springframework.org/schema/tx"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop.xsd  
            http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-4.0.xsd  
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
           http://www.springframework.org/schema/mvc  
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
		
		<context:property-placeholder location="classpath:mysql.properties"/>
		<!-- 自动装配bean，但是service层需要进行注解@service -->
	
		
		
		<!-- 管理数据库 -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="${jdbc.driverClassName}"/>
			<property name="url" value="${jdbc.url}"/>
			<property name="username" value="${jdbc.username}"/>
			<property name="password" value="${jdbc.password}"/>	
		</bean>
		
		<!-- 管理mybaits -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"/>
			<property name="configLocation" value="classpath:mybatis/sqlMapconfig.xml"/>
  			<property name="typeAliasesPackage" value="cn.qlk.test.bean" />
			<property name="mapperLocations">
				<list>
					<value>classpath:mapper/*Mapper.xml</value>
				</list>
			</property>

			
		</bean>
		
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置扫描包的路径
		如果要扫描多个包，中间使用半角逗号分隔
		要求mapper.xml和mapper.java同名且在同一个目录  -->
		
			<property name="basePackage" value="cn.qlk.test.dao"/>
			<!-- 使用sqlSessionFactoryBeanName -->
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		
		
		</bean>
		
		
		
</beans>